*{
  color: #ececec;
  font-family: Roboto,'Open-Sans','Helvetica Neue','sans-serif';
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.app {
  background-color: #212121;
  display: flex;
}

/* @import url("https://fonts.googleapis.com/css2?family=Google+Sans+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --background-color: #212121;
  --sidebar-color: #171717;
  --text-color: #e3e3e3;
  --text-secondary: #b4b4b4;
  --border-color: rgba(255, 255, 255, 0.5);
  --hover-color: rgba(180, 180, 180, 0.05);
} */
